@model FutureCafe.Business.Dtos.UserForRegisterDto

<div class="container">
  <div class="row mb-2">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h5>Kullanıcı Değiştir</h5>
          @*<div asp-validation-summary="All"></div>*@
        </div>
        <div class="card-body">
          <form asp-controller="User" asp-action="Edit" method="post" class="d-flex align-items-center">
            <div class="container">
              <div class="row mb-4">
                <div class="col">
                  <label asp-for="FirstName" class="mb-2"></label>
                  <input type="text" asp-for="FirstName" class="form-control" placeholder="İsim" />
                  <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col">
                  <label asp-for="LastName" class="mb-2"></label>
                  <input type="text" asp-for="LastName" class="form-control" placeholder="Soyisim" />
                  <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col">
                  <label class="control-label mb-2" asp-for="SelectClaimIds"></label>
                  <select asp-for="SelectClaimIds" multiple="multiple" class="form-control" asp-items=ViewBag.AvailableClaims>
                  </select>
                  <span asp-validation-for="SelectClaimIds" class="text-danger"></span>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col">
                  <label asp-for="Email" class="mb-2"></label>
                  <input type="text" asp-for="Email" class="form-control" placeholder="Kullanıcı Adı" />
                  <span asp-validation-for="Email" class="text-danger"></span>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col">
                  <label asp-for="Password" class="mb-2"></label>
                  <div class="input-group">
                    <input type="password" asp-for="Password" class="form-control" id="passwordInput" placeholder="Şifre" />
                    <button type="button" class="btn btn-outline-primary" id="togglePassword" onclick="togglePasswordVisibility()"><i class="bi-eye pe-2" id="toggleIcon"></i></button>
                  </div>
                  <span asp-validation-for="Password" class="text-danger"></span>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col">
                  <label asp-for="PasswordConfirm" class="mb-2"></label>
                  <div class="input-group">
                    <input type="password" asp-for="PasswordConfirm" class="form-control" id="passwordConfirmInput" placeholder="Şifre Tekrar" />
                    <button type="button" class="btn btn-outline-primary" id="togglePasswordConfirm" onclick="togglePasswordConfirmVisibility()"><i class="bi-eye pe-2" id="toggleConfirmIcon"></i></button>
                  </div>
                  <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col">
                  <button type="submit" class="btn btn-warning" style="width:150px">Değiştir</button>
                  <a asp-controller="User" asp-action="Index" class="btn btn-primary" style="width:150px">Listeye Dön</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

  var passwordInput = document.getElementById("passwordInput");
  var toggleButton = document.getElementById("togglePassword");
  var toggleIcon = document.getElementById("toggleIcon");
  var passwordConfirmInput = document.getElementById("passwordConfirmInput");
  var toggleConfirmButton = document.getElementById("togglePasswordConfirm");
  var toggleConfirmIcon = document.getElementById("toggleConfirmIcon");

  function togglePasswordVisibility() {

    if (passwordInput.type === "password") {
      passwordInput.type = "text";
      //toggleButton.innerText = "Şifre Gizle";
      toggleIcon.className = "bi-eye-slash pe-2";
    } else {
      passwordInput.type = "password";
      //toggleButton.innerText = "Şifre Göster";
      toggleIcon.className = "bi-eye pe-2";
    }
  }
  function togglePasswordConfirmVisibility() {

    if (passwordConfirmInput.type === "password") {
      passwordConfirmInput.type = "text";
      //toggleConfirmButton.innerText = "Şifre Gizle";
      toggleConfirmIcon.className = "bi-eye-slash pe-2";
    } else {
      passwordConfirmInput.type = "password";
      //toggleConfirmButton.innerText = "Şifre Göster";
      toggleConfirmIcon.className = "bi-eye pe-2";
    }
  }
</script>